$font-family-base: 'SB Sans', sans-serif !default;

$font-size-xxl: 35px !default;
$font-size-xl: 25px !default;
$font-size-lg: 20px !default;
$font-size-md: 14px !default;
$font-size-xs: 12px !default;

$font-weight-base: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;

$line-height-xl: 2 !default;
$line-height-lg: 1.44 !default;
$line-height-md: 1.28 !default;
$line-height-xs: 1.25 !default;


